<h1>Home h1</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id departamento</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (dept of departamentos; track dept){
        <tr>
            <td>{{dept.idDepartamento}}</td>
            <td>{{dept.nombre}}</td>
            <td>{{dept.localidad}}</td>
            <td>
                <button (click)="irDetalles(dept.idDepartamento, dept.nombre, dept.localidad)" class="btn btn-primary">Detalles</button>
                <a [routerLink]="['/edit', dept.idDepartamento]" class="btn btn-primary">Editar</a>
            </td>
        </tr>
        }
    </tbody>
</table>