<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-info text-white">
        <h4>Información del Departamento</h4>
      </div>
      <div class="card-body">
        <!-- ID del Departamento -->
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label">ID Departamento:</label>
          <div class="col-sm-8">
            <p class="form-control-plaintext">{{ departamento.idDepartamento }}</p>
          </div>
        </div>
        <!-- Nombre del Departamento -->
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label">Nombre:</label>
          <div class="col-sm-8">
            <p class="form-control-plaintext">{{ departamento.nombre }}</p>
          </div>
        </div>
        <!-- Localidad del Departamento -->
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label">Localidad:</label>
          <div class="col-sm-8">
            <p class="form-control-plaintext">{{ departamento.localidad }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  